---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <script type="application/ld+json">
    <link rel="canonical" href="https://simalkoseoglu.com">

{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Simal Köseoğlu",
  "url": "https://simal-koseoglu.com/",
  "affiliation": {
    "@type": "Organization",
    "name": "LMU Munich"
  },
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "Galatasaray University"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "Bonn University"
    }
  ],
  "sameAs": [
    "https://scholar.google.com/citations?user=XXXXXX",
    "https://www.linkedin.com/in/koseoglusimal",
    "https://www.researchgate.net/profile/Simal-Koseoglu"
  ]
}
</script>

    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
